{% extends 'TutionFee/base.html' %}
{% block title_name %} Tuition-Fee {% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row sticky-top">
        <div class="col bg-primary " >
            <h4 class="text-white text-center  p-3">{{ subject }}</h4>
        </div>
    </div>
    <div class="row">
        <!-- Division menu link -->
        <div class="col-md-3 bg-faded ">
            <div class="d-flex flex-column">
                {% for division in divisions_list %}
                    <div class=" bg-info text-white p-2 mt-2 text-center ">{{ division }}</div>
                {% endfor %}
            </div>
        </div>
        <!--  Show detaile in Table -->
        <div class="col-md-9  ">
            <table class="table ">
                <thead>
                    <tr>
                      <th>#</th>
                      <th>University Name</th>
                      <th>Cost</th>
                      <th>City</th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>
</div>
{% endblock %}